[submodule "tex/binder"]
	path = tex/binder
	url = https://github.com/mmore500/hstrat-surface-concept.git
	branch = binder
	shallow = true
[submodule "tex/binder-downstream-benchmark"]
	path = tex/binder-downstream-benchmark
	url = https://github.com/mmore500/downstream-benchmark
	branch = binder
	shallow = true
[submodule "downstream-benchmark"]
	path = downstream-benchmark
	url = https://github.com/mmore500/downstream-benchmark.git
[submodule "tex/binder-new"]
	path = tex/binder-new
	url = https://github.com/mmore500/hstrat-surface-concept.git
	branch = binder
	shallow = true
[submodule "tex/binder-20a-tilted-eulerian-surface"]
	path = tex/binder-20a-tilted-eulerian-surface
	url = https://github.com/mmore500/hstrat-surface-concept.git
	branch = 20a-tilted-eulerian-surface.ipynb
	shallow = true
[submodule "tex/binder-hanoi-strategy-small-epoch"]
	path = tex/binder-hanoi-strategy-small-epoch
	url = https://github.com/mmore500/hstrat-surface-concept.git
	branch = binder-hanoi-strategy-small-epoch.ipynb
	shallow = true
[submodule "tex/binder-coverage-criteria-small"]
	path = tex/binder-coverage-criteria-small
	url = https://github.com/mmore500/hstrat-surface-concept.git
	branch = binder-coverage-criteria-small.ipynb
	shallow = true
